
<br/><br/>
<a href="{{ path("smallads_category_createcategory") }}"><button class="btn btn-primary btn-sm btn-danger">Utwórz nową kategorię</button></a>
<a href="{{ path("smallads_category_showallcategories") }}"><button class="btn btn-primary btn-sm btn-danger">Pokaż wszystkie kategorie</button></a>
<a href="{{ path("smallads_ad_showallarchivads") }}"><button class="btn btn-primary btn-sm btn-danger">Ogłoszenia archiwalne</button></a>
<a href="https://github.com/ccwrc"><button class="btn btn-primary btn-sm btn-danger">Destroy the world button</button></a>