
<br/><br/>
<a href="{{ path("smallads_category_createcategory") }}"><button>Utwórz nową kategorię</button></a>
<a href="{{ path("smallads_category_showallcategories") }}"><button>Pokaż wszystkie kategorie</button></a>
