{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - nowa kategoria{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}
    {% include 'SmallAdsBundle:Category:admin_menu.html.twig' %}

    <h2>Nowa kategoria</h2>
    <hr/>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <hr/>

{% endblock %}
