{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - edycja kategorii{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}
    {% include 'SmallAdsBundle:Category:admin_menu.html.twig' %}
    
    <h2>Edycja kategorii</h2>
    <hr/>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary btn-sm" type="submit" value="Zapisz"/>
    {{ form_end(form) }}

    <hr/>
    
{% endblock %}
