{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - dodawanie komentarza{% endblock %}

{% block body %}
    
    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Dodaj komentarz</h2>
    <hr/>

    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <input class="btn btn-primary btn-sm" type="submit" value="Dodaj"/>
    {{ form_end(commentForm) }}
    
    <hr/>

{% endblock %}


