

<div class="form-inline">
    <div class="form-group">
        {{ form_start(commentForm) }} 
        {{ form_widget(commentForm) }}  
    </div>
    <input class="btn btn-primary btn-sm" type="submit" value="Dodaj komentarz"/>
</div>
{{ form_end(commentForm) }}

<hr/>




