{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - edycja komentarza{% endblock %}

{% block body %}
    
    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Edycja komentarza</h2>
    <hr/>

    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    {{ form_end(commentForm) }}
    
    <hr/>

{% endblock %}
