{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - powiadomienie{% endblock %}

{% block body %}

    Ktoś skomentował twoje ogłoszenie "{{ adTitle }}" w naszym serwisie. Odwiedź 
    <a href="{{ url("smallads_ad_showalladsbyuser") }}">naszą stronę</a> 
    żeby zapoznać się z nową opinią. 

{% endblock %}
