{% extends "::base.html.twig" %}

{% block title %}SmallAdsBundle:Ad:createAd{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h1>Welcome to the Ad:createAd page</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
