{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - edycja ogłoszenia{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Edycja ogłoszenia</h2>
    <hr/>

    {{ form_start(form) }}
    <strong >Jeśli nie wybierzesz nowego zdjęcia to stare zostanie zachowane. </strong><br/><br/>
    {{ form_widget(form) }} 
    {{ form_end(form) }}
    
    <hr/>

{% endblock %}
