{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - edycja ogłoszenia{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Edycja ogłoszenia</h2>
    <hr/>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
