{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - regulamin{% endblock %}

{% block body %} 

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Regulamin serwisu</h2>
    <hr/>

    <h3>Co wolno: </h3>
    - hulaj dusza, piekła nie ma, to i tak wersja demo. <br/>

    <h3>Czego nie wolno:</h3>
    - jak wyżej. <br/>

{% endblock %}

