{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}SmallAdsBundle:Main:index{% endblock %}

{% block body %} 

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h1>Regulamin serwisu</h1>

    <h3>Co wolno: </h3>
    - hulaj dusza, piekła nie ma, to i tak wersja demo. <br/>

    <h3>Czego nie wolno:</h3>
    - narażać się ludziom, którzy noszą przy sobie broń. <br/>


{% endblock %}

