{% extends "::base.html.twig" %}

{% block title %}SmallAdsBundle:Ad:showAd{% endblock %}

{% block body %}

    <h1>Welcome to the Ad:showAd page</h1>

    Tytuł ogłoszenia: {{ ad.title }} <br/><br/>
    Opis ogłoszenia: {{ ad.description }} <br/><br/>
    Termin zakończenia: {{ ad.endDate.date | date("d/m/Y H:i:s") }} <br/><br/>

    {% if ad.photoPath is not empty %}
        Zdjęcie: <br/><br/>
        <img src="{{ asset('/bundles/SmallAdsBundle/uploads_img/' ~ ad.photoPath) }}">
    {% endif %}

{% endblock %}
