{% extends "::base.html.twig" %}

{% block title %}SmallAdsBundle:Ad:showAllAds by user{% endblock %}

{% block body %}

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h1>Welcome to the Ad:showAllAds by user page</h1>

    {% for ad in ads %}
        <a href="{{ path("smallads_ad_showad", {"id":ad.id}) }}">{{ ad.title }}</a> <br/>
        <a href="{{ path("smallads_ad_editad", {"id":ad.id}) }}">Edytuj ogłoszenie</a>
        <a href="{{ path("smallads_ad_deletead", {"id":ad.id}) }}">Usuń ogłoszenie</a>

        <hr/>
    {% else %}
        Brak aktualnych ogłoszeń
    {% endfor %}

{% endblock %}
