

{% if is_granted('ROLE_USER') %}
    <a href='{{ path("fos_user_profile_show") }}' ><button  class="btn btn-primary btn-sm btn-danger">Dane użytkownika</button> </a>
{% endif %}

{% if is_granted('ROLE_USER') %}
    <a href='{{ path("fos_user_change_password") }}' ><button class="btn btn-primary btn-sm btn-danger">Zmień hasło</button> </a>
{% endif %} 

{% if is_granted('ROLE_USER') %}
    <a href='{{ path("fos_user_profile_edit") }}' ><button class="btn btn-primary btn-sm btn-danger">Edytuj profil</button> </a>
{% endif %} 