{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - strona główna{% endblock %}

{% block body %} 

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Zwykła strona główna</h2>
    <hr/>

    <h3>Działające funkcjonalności: </h3>
    - rejestracja/edycja użytkowników i administratorów, <br/>
    - zarządzanie kategoriami tematycznymi, <br/>
    - dodawanie/usuwanie/edycja ogłoszeń ze zdjęciem, <br/>
    - elastyczny wybór daty wygaśnięcia ogłoszenia (od +3 do +7 dni), <br/>
    - dodawanie(wszyscy)/usuwanie(zalogowani)/edycja(zalogowani) komentarzy, <br/>
    - powiadamianie drogą mailową o nowych komentarzach, <br/>
    - dynamiczne menu w zależności od typu zalogowanego użytkownika,  <br/>
    - oddzielny panel administracyjny, <br/>
    - ogłoszenia nieaktywne dostępne tylko dla uprawnionych użytkowników i administratorów. <br/>

    <h3>Funkcjonalności do przemyślenia:</h3>
    - nowe testy do każdej akcji, <br/>
    - http://stackoverflow.com/questions/38340771/get-two-random-items-from-a-list-in-twig

{% endblock %}
