{% extends "::base.html.twig" %}

{% block title %}SmallAdsBundle:Main:index{% endblock %}

{% block body %} 

    <h1>Welcome to the Main:index page</h1>

    <h3>Działające funkcjonalności: </h3>
    - dodawanie/edycja/zarządzanie kategoriami tematycznymi, <br/>
    - dodawanie użytkowników, <br/>
    - dodawanie/usuwanie/edycja ogłoszeń, <br/>

    <h3>Funkcjonalności do przemyślenia:</h3>
    - walidacja w encjach, <br/>
    - i chwilowo za dużo żeby wymieniać...

{% endblock %}
