{% extends "SmallAdsBundle:Main:base.html.twig" %}

{% block title %}small ads - strona główna{% endblock %}

{% block body %} 

    {% include 'SmallAdsBundle:Ad:ad_menu.html.twig' %}

    <h2>Zwykła strona główna</h2>
    <hr/>

    <h3>Działające funkcjonalności: </h3>
    - dodawanie/edycja/zarządzanie kategoriami tematycznymi przez użytkownika z prawami administratora, <br/>
    - dodawanie użytkowników, <br/>
    - dodawanie/usuwanie/edycja ogłoszeń, <br/>
    - dodawanie(wszyscy)/usuwanie(zalogowani)/edycja(zalogowani) komentarzy, <br>
    - dynamiczne menu w zależności od typu zalogowanego użytkownika, <br/>
    - powiadamanie drogą mailową o nowych komentarzach, <br>
    - przeglądanie historycznych ogłoszeń tylko przez administratora lub ogłoszeniodawcę, <br>
    - elastyczny wybór daty wygaśnięcia ogłoszenia (od +3 do +7 dni), <br/>

    <h3>Funkcjonalności do przemyślenia:</h3>
    - walidacja w encjach, <br/>
    - nadpisanie widoków FOS user bundle, <br/>
    - BUG: licznik ogłoszeń w kategoriach wlicza archiwalne ogłoszenia, <br/>
    - wizualna przebudowa formularzy (przyciski do widoku)

{% endblock %}
