{% extends "::base.html.twig" %}

{% block title %}SmallAdsBundle:SmallAd:create{% endblock %}

{% block body %}
    <h1>Welcome to the SmallAd:create page</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
