{% extends "::base.html.twig" %}

{% block title %}SmallAdsBundle:SmallAd:showAll{% endblock %}

{% block body %}
    
    <h1>Welcome to the SmallAd:showAll page</h1>

    {% for smallAd in smallAds %}
        <a href="{{ path("smallads_smallad_show", {"id":smallAd.id}) }}">{{ smallAd.title }}</a>
        <hr/>
    {% else %}
        Brak aktualnych ogłoszeń
    {% endfor %}

{% endblock %}
